.avatar-container {
  position: relative;
  flex-shrink: 0;
}

.avatar-image {
  border-radius: 50%;
  object-fit: cover;
}

.online-status-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #31a24c;
  border-radius: 50%;
  border-style: solid;
  border-color: #ffffff;
  box-sizing: border-box;
}
